make-blueprints/WhatsApp LeadFlow Automation.blueprint.json
{
    "name": "WhatsApp LeadFlow Automation",
    "flow": [
        {
            "id": 1,
            "module": "google-sheets:watchRows",
            "version": 2,
            "parameters": {
                "from": "drive",
                "mode": "select",
                "limit": 2,
                "sheetId": "Lead_Generation_DB",
                "__IMTCONN__": 7198635,
                "spreadsheetId": "/1vJcmpm_OqhDe6sEL8lT-uCST5_fYmch_V0TbK8aX4aw",
                "tableFirstRow": "A1:Z1",
                "includesHeaders": true,
                "valueRenderOption": "FORMATTED_VALUE",
                "dateTimeRenderOption": "FORMATTED_STRING"
            },
            "mapper": {},
            "metadata": {
                "designer": {
                    "x": 0,
                    "y": 300,
                    "name": "New Lead Entry"
                },
                "restore": {
                    "parameters": {
                        "from": {
                            "label": "My Drive"
                        },
                        "mode": {
                            "label": "Search by path"
                        },
                        "sheetId": {
                            "label": "Lead_Generation_DB"
                        },
                        "__IMTCONN__": {
                            "data": {
                                "scoped": "true",
                                "connection": "google"
                            },
                            "label": "AILeadGen_Google"
                        },
                        "spreadsheetId": {
                            "path": [
                                "Lead Generation Automation"
                            ]
                        },
                        "includesHeaders": {
                            "label": "Yes"
                        },
                        "valueRenderOption": {
                            "mode": "chose",
                            "label": "Formatted value"
                        },
                        "dateTimeRenderOption": {
                            "mode": "chose",
                            "label": "Formatted string"
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "__IMTCONN__",
                        "type": "account:google",
                        "label": "Connection",
                        "required": true
                    },
                    {
                        "name": "mode",
                        "type": "select",
                        "label": "Search Method",
                        "required": true,
                        "validate": {
                            "enum": [
                                "select",
                                "fromAll",
                                "map"
                            ]
                        }
                    },
                    {
                        "name": "includesHeaders",
                        "type": "select",
                        "label": "Table contains headers",
                        "required": true,
                        "validate": {
                            "enum": [
                                true,
                                false
                            ]
                        }
                    },
                    {
                        "name": "limit",
                        "type": "uinteger",
                        "label": "Limit",
                        "required": true
                    },
                    {
                        "name": "valueRenderOption",
                        "type": "select",
                        "label": "Value render option",
                        "validate": {
                            "enum": [
                                "FORMATTED_VALUE",
                                "UNFORMATTED_VALUE",
                                "FORMULA"
                            ]
                        }
                    },
                    {
                        "name": "dateTimeRenderOption",
                        "type": "select",
                        "label": "Date and time render option",
                        "validate": {
                            "enum": [
                                "SERIAL_NUMBER",
                                "FORMATTED_STRING"
                            ]
                        }
                    },
                    {
                        "name": "from",
                        "type": "select",
                        "label": "Drive",
                        "required": true,
                        "validate": {
                            "enum": [
                                "drive",
                                "share",
                                "team"
                            ]
                        }
                    },
                    {
                        "name": "spreadsheetId",
                        "type": "file",
                        "label": "Spreadsheet ID",
                        "required": true
                    },
                    {
                        "name": "sheetId",
                        "type": "select",
                        "label": "Sheet Name",
                        "required": true
                    },
                    {
                        "name": "tableFirstRow",
                        "type": "text",
                        "label": "Row with headers",
                        "required": true
                    }
                ],
                "interface": [
                    {
                        "name": "__ROW_NUMBER__",
                        "type": "number",
                        "label": "Row number"
                    },
                    {
                        "name": "__SPREADSHEET_ID__",
                        "type": "text",
                        "label": "Spreadsheet ID"
                    },
                    {
                        "name": "__SHEET__",
                        "type": "text",
                        "label": "Sheet"
                    },
                    {
                        "name": "0",
                        "type": "text",
                        "label": "Name (A)"
                    },
                    {
                        "name": "1",
                        "type": "text",
                        "label": "Phone (B)"
                    },
                    {
                        "name": "2",
                        "type": "text",
                        "label": "Business Type (C)"
                    },
                    {
                        "name": "3",
                        "type": "text",
                        "label": "Website (D)"
                    },
                    {
                        "name": "4",
                        "type": "text",
                        "label": "Lead Source (E)"
                    },
                    {
                        "name": "5",
                        "type": "text",
                        "label": "Score (F)"
                    },
                    {
                        "name": "6",
                        "type": "text",
                        "label": "Status (G)"
                    },
                    {
                        "name": "7",
                        "type": "text",
                        "label": "AI Message (H)"
                    },
                    {
                        "name": "8",
                        "type": "text",
                        "label": "Sent Time (I)"
                    },
                    {
                        "name": "9",
                        "type": "text",
                        "label": "Error Log (J)"
                    },
                    {
                        "name": "10",
                        "type": "text",
                        "label": "(K)"
                    },
                    {
                        "name": "11",
                        "type": "text",
                        "label": "(L)"
                    },
                    {
                        "name": "12",
                        "type": "text",
                        "label": "(M)"
                    },
                    {
                        "name": "13",
                        "type": "text",
                        "label": "(N)"
                    },
                    {
                        "name": "14",
                        "type": "text",
                        "label": "(O)"
                    },
                    {
                        "name": "15",
                        "type": "text",
                        "label": "(P)"
                    },
                    {
                        "name": "16",
                        "type": "text",
                        "label": "(Q)"
                    },
                    {
                        "name": "17",
                        "type": "text",
                        "label": "(R)"
                    },
                    {
                        "name": "18",
                        "type": "text",
                        "label": "(S)"
                    },
                    {
                        "name": "19",
                        "type": "text",
                        "label": "(T)"
                    },
                    {
                        "name": "20",
                        "type": "text",
                        "label": "(U)"
                    },
                    {
                        "name": "21",
                        "type": "text",
                        "label": "(V)"
                    },
                    {
                        "name": "22",
                        "type": "text",
                        "label": "(W)"
                    },
                    {
                        "name": "23",
                        "type": "text",
                        "label": "(X)"
                    },
                    {
                        "name": "24",
                        "type": "text",
                        "label": "(Y)"
                    },
                    {
                        "name": "25",
                        "type": "text",
                        "label": "(Z)"
                    }
                ]
            }
        },
        {
            "id": 12,
            "module": "util:SetVariable2",
            "version": 1,
            "parameters": {},
            "filter": {
                "name": "New Entry and Phone number exists",
                "conditions": [
                    [
                        {
                            "a": "{{1.`6`}}",
                            "b": "new",
                            "o": "text:equal:ci"
                        },
                        {
                            "a": "{{1.`1`}}",
                            "o": "exist"
                        },
                        {
                            "a": "{{1.`6`}}",
                            "b": "new",
                            "o": "text:equal:ci"
                        }
                    ]
                ]
            },
            "mapper": {
                "name": "CleanPhoneNo",
                "scope": "roundtrip",
                "value": "{{trim(replace(replace(replace(1.`1`; \";\"; \"\"); \"-\"; \"\"); \"+\"; \"\"))}}"
            },
            "metadata": {
                "designer": {
                    "x": 300,
                    "y": 300,
                    "name": "CleanPhone"
                },
                "restore": {
                    "expect": {
                        "scope": {
                            "label": "One cycle"
                        }
                    }
                },
                "expect": [
                    {
                        "name": "name",
                        "type": "text",
                        "label": "Variable name",
                        "required": true
                    },
                    {
                        "name": "scope",
                        "type": "select",
                        "label": "Variable lifetime",
                        "required": true,
                        "validate": {
                            "enum": [
                                "roundtrip",
                                "execution"
                            ]
                        }
                    },
                    {
                        "name": "value",
                        "type": "any",
                        "label": "Variable value"
                    }
                ],
                "interface": [
                    {
                        "name": "CleanPhoneNo",
                        "label": "CleanPhoneNo",
                        "type": "any"
                    }
                ]
            }
        },
        {
            "id": 15,
            "module": "util:SetVariable2",
            "version": 1,
            "parameters": {},
            "filter": null,
            "mapper": {
                "name": "length > 10",
                "scope": "roundtrip",
                "value": "{{if(length(12.CleanPhoneNo + \" > 10\") & substring(12.CleanPhoneNo; 0; 2) = 91; replace(12.CleanPhoneNo; 91; \"\"); 12.CleanPhoneNo)}}"
            },
            "metadata": {
                "designer": {
                    "x": 600,
                    "y": 300
                },
                "restore": {
                    "expect": {
                        "scope": {
                            "label": "One cycle"
                        }
                    }
                },
                "expect": [
                    {
                        "name": "name",
                        "type": "text",
                        "label": "Variable name",
                        "required": true
                    },
                    {
                        "name": "scope",
                        "type": "select",
                        "label": "Variable lifetime",
                        "required": true,
                        "validate": {
                            "enum": [
                                "roundtrip",
                                "execution"
                            ]
                        }
                    },
                    {
                        "name": "value",
                        "type": "any",
                        "label": "Variable value"
                    }
                ],
                "interface": [
                    {
                        "name": "length > 10",
                        "label": "length > 10",
                        "type": "any"
                    }
                ]
            }
        },
        {
            "id": 13,
            "module": "util:SetVariable2",
            "version": 1,
            "parameters": {},
            "mapper": {
                "name": "ProcessedPhoneNo",
                "scope": "roundtrip",
                "value": "{{if(length(15.`length > 10`) = 10; 15.`length > 10`; \"\")}}"
            },
            "metadata": {
                "designer": {
                    "x": 900,
                    "y": 300,
                    "name": "Length = 10"
                },
                "restore": {
                    "expect": {
                        "scope": {
                            "label": "One cycle"
                        }
                    }
                },
                "expect": [
                    {
                        "name": "name",
                        "type": "text",
                        "label": "Variable name",
                        "required": true
                    },
                    {
                        "name": "scope",
                        "type": "select",
                        "label": "Variable lifetime",
                        "required": true,
                        "validate": {
                            "enum": [
                                "roundtrip",
                                "execution"
                            ]
                        }
                    },
                    {
                        "name": "value",
                        "type": "any",
                        "label": "Variable value"
                    }
                ],
                "interface": [
                    {
                        "name": "ProcessedPhoneNo",
                        "label": "ProcessedPhoneNo",
                        "type": "any"
                    }
                ]
            }
        },
        {
            "id": 16,
            "module": "builtin:BasicRouter",
            "version": 1,
            "mapper": null,
            "metadata": {
                "designer": {
                    "x": 1200,
                    "y": 300
                }
            },
            "routes": [
                {
                    "flow": [
                        {
                            "id": 18,
                            "module": "util:SetVariable2",
                            "version": 1,
                            "parameters": {},
                            "filter": {
                                "name": "Processed Phone not empty",
                                "conditions": [
                                    [
                                        {
                                            "a": "{{13.ProcessedPhoneNo}}",
                                            "o": "exist"
                                        }
                                    ]
                                ]
                            },
                            "mapper": {
                                "name": "WebsiteExists",
                                "scope": "roundtrip",
                                "value": "{{ifempty(1.`3`; \"\"\"Not Provided\"\"\")}}"
                            },
                            "metadata": {
                                "designer": {
                                    "x": 1500,
                                    "y": 150
                                },
                                "restore": {
                                    "expect": {
                                        "scope": {
                                            "label": "One cycle"
                                        }
                                    }
                                },
                                "expect": [
                                    {
                                        "name": "name",
                                        "type": "text",
                                        "label": "Variable name",
                                        "required": true
                                    },
                                    {
                                        "name": "scope",
                                        "type": "select",
                                        "label": "Variable lifetime",
                                        "required": true,
                                        "validate": {
                                            "enum": [
                                                "roundtrip",
                                                "execution"
                                            ]
                                        }
                                    },
                                    {
                                        "name": "value",
                                        "type": "any",
                                        "label": "Variable value"
                                    }
                                ],
                                "interface": [
                                    {
                                        "name": "WebsiteExists",
                                        "label": "WebsiteExists",
                                        "type": "any"
                                    }
                                ]
                            }
                        },
                        {
                            "id": 2,
                            "module": "groq:chatCompletion",
                            "version": 1,
                            "parameters": {
                                "__IMTCONN__": 7199023
                            },
                            "mapper": {
                                "model": "llama-3.3-70b-versatile",
                                "messages": [
                                    {
                                        "role": "system",
                                        "content": "You are an expert B2B lead qualification assistant.\r\n\r\nYour task:\r\n- Evaluate whether a business is worth contacting for AI automation services.\r\n\r\nScoring Rules:\r\n- 1-3 = poor lead\r\n- 4-6 = average lead\r\n- 7-10 = high potential lead\r\n\r\nReturn ONLY valid JSON.\r\n\r\nJSON format:\r\n{\r\n  \"score\": number,\r\n  \"decision\": \"good\" or \"bad\",\r\n  \"reason\": \"\"\r\n}\n\nDo not include markdown.\nDo not include explanations.\nReturn raw JSON only."
                                    },
                                    {
                                        "role": "user",
                                        "content": "Evaluate this lead:\r\n\r\nName: {{1.`0`}}\r\nBusiness Type: {{1.`2`}}\r\nWebsite:  {{18.WebsiteExists}}"
                                    }
                                ],
                                "max_tokens": "100",
                                "temperature": "0.2",
                                "response_format": "text",
                                "top_p": "0.2"
                            },
                            "metadata": {
                                "designer": {
                                    "x": 1800,
                                    "y": 150
                                },
                                "restore": {
                                    "parameters": {
                                        "__IMTCONN__": {
                                            "label": "LeadGenAutomation_Groq",
                                            "data": {
                                                "scoped": "true",
                                                "connection": "groq"
                                            }
                                        }
                                    },
                                    "expect": {
                                        "model": {
                                            "mode": "chose",
                                            "label": "llama-3.3-70b-versatile"
                                        },
                                        "messages": {
                                            "mode": "chose",
                                            "items": [
                                                {
                                                    "role": {
                                                        "mode": "chose",
                                                        "label": "System"
                                                    }
                                                },
                                                {
                                                    "role": {
                                                        "mode": "chose",
                                                        "label": "User"
                                                    }
                                                }
                                            ]
                                        },
                                        "response_format": {
                                            "mode": "chose",
                                            "label": "Text"
                                        }
                                    }
                                },
                                "parameters": [
                                    {
                                        "name": "__IMTCONN__",
                                        "type": "account:groq",
                                        "label": "Connection",
                                        "required": true
                                    }
                                ],
                                "expect": [
                                    {
                                        "name": "model",
                                        "type": "select",
                                        "label": "Model",
                                        "required": true
                                    },
                                    {
                                        "name": "messages",
                                        "type": "array",
                                        "label": "Messages",
                                        "required": true,
                                        "spec": [
                                            {
                                                "name": "role",
                                                "type": "select",
                                                "label": "Role",
                                                "options": [
                                                    {
                                                        "label": "System",
                                                        "value": "system"
                                                    },
                                                    {
                                                        "label": "User",
                                                        "value": "user"
                                                    },
                                                    {
                                                        "label": "Assistant",
                                                        "value": "assistant"
                                                    }
                                                ]
                                            },
                                            {
                                                "name": "content",
                                                "type": "text",
                                                "label": "Content"
                                            }
                                        ]
                                    },
                                    {
                                        "name": "max_tokens",
                                        "type": "number",
                                        "label": "Max tokens returned"
                                    },
                                    {
                                        "name": "temperature",
                                        "type": "number",
                                        "label": "Temperature"
                                    },
                                    {
                                        "name": "response_format",
                                        "type": "select",
                                        "label": "Response Format",
                                        "validate": {
                                            "enum": [
                                                "text",
                                                "json_object"
                                            ]
                                        }
                                    },
                                    {
                                        "name": "top_p",
                                        "type": "number",
                                        "label": "Top P"
                                    },
                                    {
                                        "name": "frequency_penalty",
                                        "type": "number",
                                        "label": "Frequency Penalty"
                                    },
                                    {
                                        "name": "seed",
                                        "type": "number",
                                        "label": "Seed"
                                    }
                                ],
                                "advanced": true
                            }
                        },
                        {
                            "id": 5,
                            "module": "json:ParseJSON",
                            "version": 1,
                            "parameters": {
                                "type": ""
                            },
                            "mapper": {
                                "json": "{{2.result}}"
                            },
                            "metadata": {
                                "designer": {
                                    "x": 2100,
                                    "y": 150
                                },
                                "restore": {
                                    "parameters": {
                                        "type": {
                                            "label": "Choose a data structure"
                                        }
                                    }
                                },
                                "parameters": [
                                    {
                                        "name": "type",
                                        "type": "udt",
                                        "label": "Data structure"
                                    }
                                ],
                                "expect": [
                                    {
                                        "name": "json",
                                        "type": "text",
                                        "label": "JSON string",
                                        "required": true
                                    }
                                ]
                            }
                        },
                        {
                            "id": 7,
                            "module": "builtin:BasicRouter",
                            "version": 1,
                            "parameters": {
                                "else": 0
                            },
                            "filter": null,
                            "mapper": null,
                            "metadata": {
                                "designer": {
                                    "x": 2400,
                                    "y": 150
                                }
                            },
                            "routes": [
                                {
                                    "flow": [
                                        {
                                            "id": 6,
                                            "module": "google-sheets:updateRow",
                                            "version": 2,
                                            "parameters": {
                                                "__IMTCONN__": 7198635
                                            },
                                            "filter": {
                                                "name": "AI Decision is bad",
                                                "conditions": [
                                                    [
                                                        {
                                                            "a": "{{5.decision}}",
                                                            "b": "bad",
                                                            "o": "text:equal:ci"
                                                        }
                                                    ]
                                                ]
                                            },
                                            "mapper": {
                                                "from": "drive",
                                                "mode": "select",
                                                "values": {
                                                    "5": "{{5.score}}",
                                                    "6": "{{if(lower(5.decision) = \"bad\"; \"REJECTED\"; )}}",
                                                    "7": "{{5.reason}}"
                                                },
                                                "sheetId": "Lead_Generation_DB",
                                                "rowNumber": "{{1.`__ROW_NUMBER__`}}",
                                                "spreadsheetId": "/1vJcmpm_OqhDe6sEL8lT-uCST5_fYmch_V0TbK8aX4aw",
                                                "includesHeaders": true,
                                                "useColumnHeaders": false,
                                                "valueInputOption": "USER_ENTERED"
                                            },
                                            "metadata": {
                                                "designer": {
                                                    "x": 2700,
                                                    "y": 0
                                                },
                                                "restore": {
                                                    "expect": {
                                                        "from": {
                                                            "label": "My Drive"
                                                        },
                                                        "mode": {
                                                            "label": "Search by path"
                                                        },
                                                        "sheetId": {
                                                            "label": "Lead_Generation_DB"
                                                        },
                                                        "spreadsheetId": {
                                                            "path": [
                                                                "Lead Generation Automation"
                                                            ]
                                                        },
                                                        "includesHeaders": {
                                                            "label": "Yes"
                                                        },
                                                        "useColumnHeaders": {
                                                            "label": "No",
                                                            "nested": [
                                                                {
                                                                    "name": "values",
                                                                    "spec": [
                                                                        {
                                                                            "name": "0",
                                                                            "type": "text",
                                                                            "label": "Name (A)"
                                                                        },
                                                                        {
                                                                            "name": "1",
                                                                            "type": "text",
                                                                            "label": "Phone (B)"
                                                                        },
                                                                        {
                                                                            "name": "2",
                                                                            "type": "text",
                                                                            "label": "Business Type (C)"
                                                                        },
                                                                        {
                                                                            "name": "3",
                                                                            "type": "text",
                                                                            "label": "Website (D)"
                                                                        },
                                                                        {
                                                                            "name": "4",
                                                                            "type": "text",
                                                                            "label": "Lead Source (E)"
                                                                        },
                                                                        {
                                                                            "name": "5",
                                                                            "type": "text",
                                                                            "label": "Score (F)"
                                                                        },
                                                                        {
                                                                            "name": "6",
                                                                            "type": "text",
                                                                            "label": "Status (G)"
                                                                        },
                                                                        {
                                                                            "name": "7",
                                                                            "type": "text",
                                                                            "label": "AI Message (H)"
                                                                        },
                                                                        {
                                                                            "name": "8",
                                                                            "type": "text",
                                                                            "label": "Sent Time (I)"
                                                                        },
                                                                        {
                                                                            "name": "9",
                                                                            "type": "text",
                                                                            "label": "Error Log (J)"
                                                                        },
                                                                        {
                                                                            "name": "10",
                                                                            "type": "text",
                                                                            "label": "(K)"
                                                                        },
                                                                        {
                                                                            "name": "11",
                                                                            "type": "text",
                                                                            "label": "(L)"
                                                                        },
                                                                        {
                                                                            "name": "12",
                                                                            "type": "text",
                                                                            "label": "(M)"
                                                                        },
                                                                        {
                                                                            "name": "13",
                                                                            "type": "text",
                                                                            "label": "(N)"
                                                                        },
                                                                        {
                                                                            "name": "14",
                                                                            "type": "text",
                                                                            "label": "(O)"
                                                                        },
                                                                        {
                                                                            "name": "15",
                                                                            "type": "text",
                                                                            "label": "(P)"
                                                                        },
                                                                        {
                                                                            "name": "16",
                                                                            "type": "text",
                                                                            "label": "(Q)"
                                                                        },
                                                                        {
                                                                            "name": "17",
                                                                            "type": "text",
                                                                            "label": "(R)"
                                                                        },
                                                                        {
                                                                            "name": "18",
                                                                            "type": "text",
                                                                            "label": "(S)"
                                                                        },
                                                                        {
                                                                            "name": "19",
                                                                            "type": "text",
                                                                            "label": "(T)"
                                                                        },
                                                                        {
                                                                            "name": "20",
                                                                            "type": "text",
                                                                            "label": "(U)"
                                                                        },
                                                                        {
                                                                            "name": "21",
                                                                            "type": "text",
                                                                            "label": "(V)"
                                                                        },
                                                                        {
                                                                            "name": "22",
                                                                            "type": "text",
                                                                            "label": "(W)"
                                                                        },
                                                                        {
                                                                            "name": "23",
                                                                            "type": "text",
                                                                            "label": "(X)"
                                                                        },
                                                                        {
                                                                            "name": "24",
                                                                            "type": "text",
                                                                            "label": "(Y)"
                                                                        },
                                                                        {
                                                                            "name": "25",
                                                                            "type": "text",
                                                                            "label": "(Z)"
                                                                        }
                                                                    ],
                                                                    "type": "collection",
                                                                    "label": "Values in columns",
                                                                    "metadata": [
                                                                        [
                                                                            [
                                                                                "Name",
                                                                                "Phone",
                                                                                "Business Type",
                                                                                "Website",
                                                                                "Lead Source",
                                                                                "Score",
                                                                                "Status",
                                                                                "AI Message",
                                                                                "Sent Time",
                                                                                "Error Log"
                                                                            ]
                                                                        ]
                                                                    ]
                                                                }
                                                            ]
                                                        },
                                                        "valueInputOption": {
                                                            "mode": "chose",
                                                            "label": "User entered"
                                                        }
                                                    },
                                                    "parameters": {
                                                        "__IMTCONN__": {
                                                            "data": {
                                                                "scoped": "true",
                                                                "connection": "google"
                                                            },
                                                            "label": "AILeadGen_Google (shwetusandu23@gmail.com)"
                                                        }
                                                    }
                                                },
                                                "parameters": [
                                                    {
                                                        "name": "__IMTCONN__",
                                                        "type": "account:google",
                                                        "label": "Connection",
                                                        "required": true
                                                    }
                                                ],
                                                "expect": [
                                                    {
                                                        "name": "mode",
                                                        "type": "select",
                                                        "label": "Search Method",
                                                        "required": true,
                                                        "validate": {
                                                            "enum": [
                                                                "select",
                                                                "fromAll",
                                                                "map"
                                                            ]
                                                        }
                                                    },
                                                    {
                                                        "name": "valueInputOption",
                                                        "type": "select",
                                                        "label": "Value input option",
                                                        "validate": {
                                                            "enum": [
                                                                "USER_ENTERED",
                                                                "RAW"
                                                            ]
                                                        }
                                                    },
                                                    {
                                                        "name": "from",
                                                        "type": "select",
                                                        "label": "Drive",
                                                        "required": true,
                                                        "validate": {
                                                            "enum": [
                                                                "drive",
                                                                "share",
                                                                "team"
                                                            ]
                                                        }
                                                    },
                                                    {
                                                        "name": "spreadsheetId",
                                                        "type": "file",
                                                        "label": "Spreadsheet Name",
                                                        "required": true
                                                    },
                                                    {
                                                        "name": "sheetId",
                                                        "type": "select",
                                                        "label": "Sheet Name",
                                                        "required": true
                                                    },
                                                    {
                                                        "name": "rowNumber",
                                                        "type": "uinteger",
                                                        "label": "Row number",
                                                        "required": true
                                                    },
                                                    {
                                                        "name": "includesHeaders",
                                                        "type": "select",
                                                        "label": "Table contains headers",
                                                        "required": true,
                                                        "validate": {
                                                            "enum": [
                                                                true,
                                                                false
                                                            ]
                                                        }
                                                    },
                                                    {
                                                        "name": "useColumnHeaders",
                                                        "type": "select",
                                                        "label": "Use column headers as IDs of the columns",
                                                        "required": true,
                                                        "validate": {
                                                            "enum": [
                                                                true,
                                                                false
                                                            ]
                                                        }
                                                    },
                                                    {
                                                        "name": "values",
                                                        "spec": [
                                                            {
                                                                "name": "0",
                                                                "type": "text",
                                                                "label": "Name (A)"
                                                            },
                                                            {
                                                                "name": "1",
                                                                "type": "text",
                                                                "label": "Phone (B)"
                                                            },
                                                            {
                                                                "name": "2",
                                                                "type": "text",
                                                                "label": "Business Type (C)"
                                                            },
                                                            {
                                                                "name": "3",
                                                                "type": "text",
                                                                "label": "Website (D)"
                                                            },
                                                            {
                                                                "name": "4",
                                                                "type": "text",
                                                                "label": "Lead Source (E)"
                                                            },
                                                            {
                                                                "name": "5",
                                                                "type": "text",
                                                                "label": "Score (F)"
                                                            },
                                                            {
                                                                "name": "6",
                                                                "type": "text",
                                                                "label": "Status (G)"
                                                            },
                                                            {
                                                                "name": "7",
                                                                "type": "text",
                                                                "label": "AI Message (H)"
                                                            },
                                                            {
                                                                "name": "8",
                                                                "type": "text",
                                                                "label": "Sent Time (I)"
                                                            },
                                                            {
                                                                "name": "9",
                                                                "type": "text",
                                                                "label": "Error Log (J)"
                                                            },
                                                            {
                                                                "name": "10",
                                                                "type": "text",
                                                                "label": "(K)"
                                                            },
                                                            {
                                                                "name": "11",
                                                                "type": "text",
                                                                "label": "(L)"
                                                            },
                                                            {
                                                                "name": "12",
                                                                "type": "text",
                                                                "label": "(M)"
                                                            },
                                                            {
                                                                "name": "13",
                                                                "type": "text",
                                                                "label": "(N)"
                                                            },
                                                            {
                                                                "name": "14",
                                                                "type": "text",
                                                                "label": "(O)"
                                                            },
                                                            {
                                                                "name": "15",
                                                                "type": "text",
                                                                "label": "(P)"
                                                            },
                                                            {
                                                                "name": "16",
                                                                "type": "text",
                                                                "label": "(Q)"
                                                            },
                                                            {
                                                                "name": "17",
                                                                "type": "text",
                                                                "label": "(R)"
                                                            },
                                                            {
                                                                "name": "18",
                                                                "type": "text",
                                                                "label": "(S)"
                                                            },
                                                            {
                                                                "name": "19",
                                                                "type": "text",
                                                                "label": "(T)"
                                                            },
                                                            {
                                                                "name": "20",
                                                                "type": "text",
                                                                "label": "(U)"
                                                            },
                                                            {
                                                                "name": "21",
                                                                "type": "text",
                                                                "label": "(V)"
                                                            },
                                                            {
                                                                "name": "22",
                                                                "type": "text",
                                                                "label": "(W)"
                                                            },
                                                            {
                                                                "name": "23",
                                                                "type": "text",
                                                                "label": "(X)"
                                                            },
                                                            {
                                                                "name": "24",
                                                                "type": "text",
                                                                "label": "(Y)"
                                                            },
                                                            {
                                                                "name": "25",
                                                                "type": "text",
                                                                "label": "(Z)"
                                                            }
                                                        ],
                                                        "type": "collection",
                                                        "label": "Values in columns",
                                                        "metadata": [
                                                            [
                                                                [
                                                                    "Name",
                                                                    "Phone",
                                                                    "Business Type",
                                                                    "Website",
                                                                    "Lead Source",
                                                                    "Score",
                                                                    "Status",
                                                                    "AI Message",
                                                                    "Sent Time",
                                                                    "Error Log"
                                                                ]
                                                            ]
                                                        ]
                                                    }
                                                ]
                                            }
                                        }
                                    ]
                                },
                                {
                                    "flow": [
                                        {
                                            "id": 9,
                                            "module": "groq:chatCompletion",
                                            "version": 1,
                                            "parameters": {
                                                "__IMTCONN__": 7199023
                                            },
                                            "filter": {
                                                "name": "AI Decision is good",
                                                "conditions": [
                                                    [
                                                        {
                                                            "a": "{{5.decision}}",
                                                            "b": "good",
                                                            "o": "text:equal:ci"
                                                        },
                                                        {
                                                            "a": "{{5.score}}",
                                                            "b": "5",
                                                            "o": "number:greaterorequal"
                                                        }
                                                    ]
                                                ]
                                            },
                                            "mapper": {
                                                "model": "llama-3.3-70b-versatile",
                                                "messages": [
                                                    {
                                                        "role": "system",
                                                        "content": "You are an expert WhatsApp sales outreach assistant.\r\n\r\nYour goal:\r\nWrite highly engaging, human-sounding WhatsApp messages for business owners.\r\n\r\nRules:\r\n- Under 40 words\r\n- Conversational and human tone \r\n- Personalized\r\n- Sound natural, not corporate\n- Mention a likely business problem\r\n- Avoid spammy marketing language/wording\r\n- Create curiosity\r\n- Include a soft CTA\r\n- Do not use emojis unless relevant\r\n- Do not sound desperate\r\n- Focus on solving a business problem\n- No hard selling\r\n\r\nReturn message only."
                                                    },
                                                    {
                                                        "role": "user",
                                                        "content": "Lead Name: {{1.`0`}}\nBusiness Type: {{1.`2`}}Website: {{1.`3`}}"
                                                    }
                                                ],
                                                "max_tokens": "100",
                                                "temperature": "0.7",
                                                "response_format": "text",
                                                "top_p": "0.8"
                                            },
                                            "metadata": {
                                                "designer": {
                                                    "x": 2700,
                                                    "y": 300
                                                },
                                                "restore": {
                                                    "parameters": {
                                                        "__IMTCONN__": {
                                                            "label": "LeadGenAutomation_Groq",
                                                            "data": {
                                                                "scoped": "true",
                                                                "connection": "groq"
                                                            }
                                                        }
                                                    },
                                                    "expect": {
                                                        "model": {
                                                            "mode": "chose",
                                                            "label": "llama-3.3-70b-versatile"
                                                        },
                                                        "messages": {
                                                            "mode": "chose",
                                                            "items": [
                                                                {
                                                                    "role": {
                                                                        "mode": "chose",
                                                                        "label": "System"
                                                                    }
                                                                },
                                                                {
                                                                    "role": {
                                                                        "mode": "chose",
                                                                        "label": "User"
                                                                    }
                                                                }
                                                            ]
                                                        },
                                                        "response_format": {
                                                            "mode": "chose",
                                                            "label": "Text"
                                                        }
                                                    }
                                                },
                                                "parameters": [
                                                    {
                                                        "name": "__IMTCONN__",
                                                        "type": "account:groq",
                                                        "label": "Connection",
                                                        "required": true
                                                    }
                                                ],
                                                "expect": [
                                                    {
                                                        "name": "model",
                                                        "type": "select",
                                                        "label": "Model",
                                                        "required": true
                                                    },
                                                    {
                                                        "name": "messages",
                                                        "type": "array",
                                                        "label": "Messages",
                                                        "required": true,
                                                        "spec": [
                                                            {
                                                                "name": "role",
                                                                "type": "select",
                                                                "label": "Role",
                                                                "options": [
                                                                    {
                                                                        "label": "System",
                                                                        "value": "system"
                                                                    },
                                                                    {
                                                                        "label": "User",
                                                                        "value": "user"
                                                                    },
                                                                    {
                                                                        "label": "Assistant",
                                                                        "value": "assistant"
                                                                    }
                                                                ]
                                                            },
                                                            {
                                                                "name": "content",
                                                                "type": "text",
                                                                "label": "Content"
                                                            }
                                                        ]
                                                    },
                                                    {
                                                        "name": "max_tokens",
                                                        "type": "number",
                                                        "label": "Max tokens returned"
                                                    },
                                                    {
                                                        "name": "temperature",
                                                        "type": "number",
                                                        "label": "Temperature"
                                                    },
                                                    {
                                                        "name": "response_format",
                                                        "type": "select",
                                                        "label": "Response Format",
                                                        "validate": {
                                                            "enum": [
                                                                "text",
                                                                "json_object"
                                                            ]
                                                        }
                                                    },
                                                    {
                                                        "name": "top_p",
                                                        "type": "number",
                                                        "label": "Top P"
                                                    },
                                                    {
                                                        "name": "frequency_penalty",
                                                        "type": "number",
                                                        "label": "Frequency Penalty"
                                                    },
                                                    {
                                                        "name": "seed",
                                                        "type": "number",
                                                        "label": "Seed"
                                                    }
                                                ],
                                                "advanced": true
                                            }
                                        },
                                        {
                                            "id": 11,
                                            "module": "http:MakeRequest",
                                            "version": 4,
                                            "parameters": {
                                                "tlsType": "",
                                                "proxyKeychain": "",
                                                "basicAuthKeychain": 156650,
                                                "authenticationType": "basicAuth"
                                            },
                                            "filter": {
                                                "name": "Result Exists",
                                                "conditions": [
                                                    [
                                                        {
                                                            "a": "{{9.result}}",
                                                            "o": "exist"
                                                        }
                                                    ]
                                                ]
                                            },
                                            "mapper": {
                                                "url": "https://api.twilio.com/2010-04-01/Accounts/YOUR-TWILIO-SID/Messages.json",
                                                "method": "post",
                                                "headers": [
                                                    {
                                                        "name": "Content-Type",
                                                        "value": "application/x-www-form-urlencoded"
                                                    }
                                                ],
                                                "contentType": "urlEncoded",
                                                "shareCookies": false,
                                                "parseResponse": true,
                                                "allowRedirects": true,
                                                "stopOnHttpError": true,
                                                "urlEncodedBodyContent": [
                                                    {
                                                        "name": "To",
                                                        "value": "whatsapp:+91{{1.`1`}}"
                                                    },
                                                    {
                                                        "name": "From",
                                                        "value": "whatsapp:+14155238886"
                                                    },
                                                    {
                                                        "name": "Body",
                                                        "value": "{{9.result}}"
                                                    }
                                                ],
                                                "requestCompressedContent": true
                                            },
                                            "metadata": {
                                                "designer": {
                                                    "x": 3000,
                                                    "y": 300
                                                },
                                                "restore": {
                                                    "expect": {
                                                        "method": {
                                                            "mode": "chose",
                                                            "label": "POST"
                                                        },
                                                        "headers": {
                                                            "mode": "chose",
                                                            "items": [
                                                                null
                                                            ]
                                                        },
                                                        "contentType": {
                                                            "label": "application/x-www-form-urlencodedEnter form data as key-value pairs encoded in the URL style."
                                                        },
                                                        "shareCookies": {
                                                            "mode": "chose"
                                                        },
                                                        "parseResponse": {
                                                            "mode": "chose"
                                                        },
                                                        "allowRedirects": {
                                                            "mode": "chose"
                                                        },
                                                        "paginationType": {
                                                            "label": "Empty"
                                                        },
                                                        "queryParameters": {
                                                            "mode": "chose"
                                                        },
                                                        "stopOnHttpError": {
                                                            "mode": "chose"
                                                        },
                                                        "urlEncodedBodyContent": {
                                                            "mode": "chose",
                                                            "items": [
                                                                null,
                                                                null,
                                                                null
                                                            ]
                                                        },
                                                        "requestCompressedContent": {
                                                            "mode": "chose"
                                                        }
                                                    },
                                                    "parameters": {
                                                        "tlsType": {
                                                            "label": "Empty"
                                                        },
                                                        "proxyKeychain": {
                                                            "label": "Choose a key"
                                                        },
                                                        "basicAuthKeychain": {
                                                            "label": "LeadGenAutomation_Twilio"
                                                        },
                                                        "authenticationType": {
                                                            "label": "Basic authUse when the service requires a username and password."
                                                        }
                                                    }
                                                },
                                                "parameters": [
                                                    {
                                                        "name": "authenticationType",
                                                        "type": "select",
                                                        "label": "Authentication type",
                                                        "required": true,
                                                        "validate": {
                                                            "enum": [
                                                                "noAuth",
                                                                "apiKey",
                                                                "basicAuth",
                                                                "oAuth"
                                                            ]
                                                        }
                                                    },
                                                    {
                                                        "name": "tlsType",
                                                        "type": "select",
                                                        "label": "Transport layer security (TLS)",
                                                        "validate": {
                                                            "enum": [
                                                                "mTls",
                                                                "tls"
                                                            ]
                                                        }
                                                    },
                                                    {
                                                        "name": "proxyKeychain",
                                                        "type": "keychain:proxy",
                                                        "label": "Proxy"
                                                    },
                                                    {
                                                        "name": "basicAuthKeychain",
                                                        "type": "keychain:basicauth",
                                                        "label": "Credentials",
                                                        "required": true
                                                    }
                                                ],
                                                "expect": [
                                                    {
                                                        "name": "url",
                                                        "type": "url",
                                                        "label": "URL",
                                                        "required": true
                                                    },
                                                    {
                                                        "name": "method",
                                                        "type": "select",
                                                        "label": "Method",
                                                        "required": true,
                                                        "validate": {
                                                            "enum": [
                                                                "get",
                                                                "head",
                                                                "post",
                                                                "put",
                                                                "patch",
                                                                "delete",
                                                                "options"
                                                            ]
                                                        }
                                                    },
                                                    {
                                                        "name": "headers",
                                                        "spec": {
                                                            "name": "value",
                                                            "spec": [
                                                                {
                                                                    "name": "name",
                                                                    "type": "text",
                                                                    "label": "Name",
                                                                    "required": true,
                                                                    "validate": {
                                                                        "pattern": "^[-!#$%&'*+.^_`|~0-9A-Za-z]+$"
                                                                    }
                                                                },
                                                                {
                                                                    "name": "value",
                                                                    "type": "text",
                                                                    "label": "Value"
                                                                }
                                                            ],
                                                            "type": "collection",
                                                            "label": "Header"
                                                        },
                                                        "type": "array",
                                                        "label": "Headers"
                                                    },
                                                    {
                                                        "name": "queryParameters",
                                                        "spec": {
                                                            "name": "value",
                                                            "spec": [
                                                                {
                                                                    "name": "name",
                                                                    "type": "text",
                                                                    "label": "Name",
                                                                    "required": true
                                                                },
                                                                {
                                                                    "name": "value",
                                                                    "type": "text",
                                                                    "label": "Value"
                                                                }
                                                            ],
                                                            "type": "collection",
                                                            "label": "Parameter"
                                                        },
                                                        "type": "array",
                                                        "label": "Query parameters"
                                                    },
                                                    {
                                                        "name": "contentType",
                                                        "type": "select",
                                                        "label": "Body content type",
                                                        "validate": {
                                                            "enum": [
                                                                "json",
                                                                "multipart",
                                                                "urlEncoded",
                                                                "custom"
                                                            ]
                                                        }
                                                    },
                                                    {
                                                        "name": "parseResponse",
                                                        "type": "boolean",
                                                        "label": "Parse response",
                                                        "required": true
                                                    },
                                                    {
                                                        "name": "stopOnHttpError",
                                                        "type": "boolean",
                                                        "label": "Return error if HTTP request fails",
                                                        "required": true
                                                    },
                                                    {
                                                        "name": "timeout",
                                                        "type": "uinteger",
                                                        "label": "Timeout",
                                                        "validate": {
                                                            "max": 300,
                                                            "min": 1
                                                        }
                                                    },
                                                    {
                                                        "name": "allowRedirects",
                                                        "type": "boolean",
                                                        "label": "Allow redirects",
                                                        "required": true
                                                    },
                                                    {
                                                        "name": "shareCookies",
                                                        "type": "boolean",
                                                        "label": "Share cookies with other HTTP modules",
                                                        "required": true
                                                    },
                                                    {
                                                        "name": "requestCompressedContent",
                                                        "type": "boolean",
                                                        "label": "Request compressed content",
                                                        "required": true
                                                    },
                                                    {
                                                        "name": "urlEncodedBodyContent",
                                                        "spec": {
                                                            "name": "value",
                                                            "spec": [
                                                                {
                                                                    "name": "name",
                                                                    "type": "text",
                                                                    "label": "Name",
                                                                    "required": true
                                                                },
                                                                {
                                                                    "name": "value",
                                                                    "type": "text",
                                                                    "label": "Value"
                                                                }
                                                            ],
                                                            "type": "collection",
                                                            "label": "Field"
                                                        },
                                                        "type": "array",
                                                        "label": "Body content",
                                                        "required": true
                                                    },
                                                    {
                                                        "name": "paginationType",
                                                        "type": "select",
                                                        "label": "Pagination type",
                                                        "validate": {
                                                            "enum": [
                                                                "offsetBased",
                                                                "pageBased",
                                                                "urlBased",
                                                                "tokenBased"
                                                            ]
                                                        }
                                                    }
                                                ],
                                                "interface": [
                                                    {
                                                        "name": "data",
                                                        "type": "any",
                                                        "label": "Data"
                                                    },
                                                    {
                                                        "name": "statusCode",
                                                        "type": "number",
                                                        "label": "Status Code"
                                                    },
                                                    {
                                                        "name": "headers",
                                                        "spec": [
                                                            {
                                                                "name": "content-length",
                                                                "type": "text",
                                                                "label": "Content-Length"
                                                            },
                                                            {
                                                                "name": "content-encoding",
                                                                "type": "text",
                                                                "label": "Content-Encoding"
                                                            },
                                                            {
                                                                "name": "content-type",
                                                                "type": "text",
                                                                "label": "Content-Type"
                                                            },
                                                            {
                                                                "name": "server",
                                                                "type": "text",
                                                                "label": "Server"
                                                            },
                                                            {
                                                                "name": "cache-control",
                                                                "type": "text",
                                                                "label": "Cache-Control"
                                                            },
                                                            {
                                                                "name": "set-cookie",
                                                                "spec": {
                                                                    "type": "text"
                                                                },
                                                                "type": "array",
                                                                "label": "Set-Cookie"
                                                            }
                                                        ],
                                                        "type": "collection",
                                                        "label": "Headers"
                                                    }
                                                ]
                                            }
                                        },
                                        {
                                            "id": 8,
                                            "module": "google-sheets:updateRow",
                                            "version": 2,
                                            "parameters": {
                                                "__IMTCONN__": 7198635
                                            },
                                            "mapper": {
                                                "mode": "select",
                                                "valueInputOption": "USER_ENTERED",
                                                "from": "drive",
                                                "spreadsheetId": "/1vJcmpm_OqhDe6sEL8lT-uCST5_fYmch_V0TbK8aX4aw",
                                                "sheetId": "Lead_Generation_DB",
                                                "rowNumber": "{{1.`__ROW_NUMBER__`}}",
                                                "includesHeaders": true,
                                                "useColumnHeaders": false,
                                                "values": {
                                                    "5": "{{5.score}}",
                                                    "6": "MESSAGE SENT from {{11.data.from}}",
                                                    "7": "{{11.data.body}}",
                                                    "8": "{{if(11.data.error_code + \"=\" + null; 11.data.date_created)}}",
                                                    "9": "{{11.data.error_code}}"
                                                }
                                            },
                                            "metadata": {
                                                "designer": {
                                                    "x": 3300,
                                                    "y": 300
                                                },
                                                "restore": {
                                                    "parameters": {
                                                        "__IMTCONN__": {
                                                            "label": "AILeadGen_Google (shwetusandu23@gmail.com)",
                                                            "data": {
                                                                "scoped": "true",
                                                                "connection": "google"
                                                            }
                                                        }
                                                    },
                                                    "expect": {
                                                        "mode": {
                                                            "label": "Search by path"
                                                        },
                                                        "valueInputOption": {
                                                            "mode": "chose",
                                                            "label": "User entered"
                                                        },
                                                        "from": {
                                                            "label": "My Drive"
                                                        },
                                                        "spreadsheetId": {
                                                            "path": [
                                                                "Lead Generation Automation"
                                                            ]
                                                        },
                                                        "sheetId": {
                                                            "label": "Lead_Generation_DB"
                                                        },
                                                        "includesHeaders": {
                                                            "label": "Yes"
                                                        },
                                                        "useColumnHeaders": {
                                                            "nested": [
                                                                {
                                                                    "name": "values",
                                                                    "spec": [
                                                                        {
                                                                            "name": "0",
                                                                            "type": "text",
                                                                            "label": "Name (A)"
                                                                        },
                                                                        {
                                                                            "name": "1",
                                                                            "type": "text",
                                                                            "label": "Phone (B)"
                                                                        },
                                                                        {
                                                                            "name": "2",
                                                                            "type": "text",
                                                                            "label": "Business Type (C)"
                                                                        },
                                                                        {
                                                                            "name": "3",
                                                                            "type": "text",
                                                                            "label": "Website (D)"
                                                                        },
                                                                        {
                                                                            "name": "4",
                                                                            "type": "text",
                                                                            "label": "Lead Source (E)"
                                                                        },
                                                                        {
                                                                            "name": "5",
                                                                            "type": "text",
                                                                            "label": "Score (F)"
                                                                        },
                                                                        {
                                                                            "name": "6",
                                                                            "type": "text",
                                                                            "label": "Status (G)"
                                                                        },
                                                                        {
                                                                            "name": "7",
                                                                            "type": "text",
                                                                            "label": "AI Message (H)"
                                                                        },
                                                                        {
                                                                            "name": "8",
                                                                            "type": "text",
                                                                            "label": "Sent Time (I)"
                                                                        },
                                                                        {
                                                                            "name": "9",
                                                                            "type": "text",
                                                                            "label": "Error Log (J)"
                                                                        },
                                                                        {
                                                                            "name": "10",
                                                                            "type": "text",
                                                                            "label": "(K)"
                                                                        },
                                                                        {
                                                                            "name": "11",
                                                                            "type": "text",
                                                                            "label": "(L)"
                                                                        },
                                                                        {
                                                                            "name": "12",
                                                                            "type": "text",
                                                                            "label": "(M)"
                                                                        },
                                                                        {
                                                                            "name": "13",
                                                                            "type": "text",
                                                                            "label": "(N)"
                                                                        },
                                                                        {
                                                                            "name": "14",
                                                                            "type": "text",
                                                                            "label": "(O)"
                                                                        },
                                                                        {
                                                                            "name": "15",
                                                                            "type": "text",
                                                                            "label": "(P)"
                                                                        },
                                                                        {
                                                                            "name": "16",
                                                                            "type": "text",
                                                                            "label": "(Q)"
                                                                        },
                                                                        {
                                                                            "name": "17",
                                                                            "type": "text",
                                                                            "label": "(R)"
                                                                        },
                                                                        {
                                                                            "name": "18",
                                                                            "type": "text",
                                                                            "label": "(S)"
                                                                        },
                                                                        {
                                                                            "name": "19",
                                                                            "type": "text",
                                                                            "label": "(T)"
                                                                        },
                                                                        {
                                                                            "name": "20",
                                                                            "type": "text",
                                                                            "label": "(U)"
                                                                        },
                                                                        {
                                                                            "name": "21",
                                                                            "type": "text",
                                                                            "label": "(V)"
                                                                        },
                                                                        {
                                                                            "name": "22",
                                                                            "type": "text",
                                                                            "label": "(W)"
                                                                        },
                                                                        {
                                                                            "name": "23",
                                                                            "type": "text",
                                                                            "label": "(X)"
                                                                        },
                                                                        {
                                                                            "name": "24",
                                                                            "type": "text",
                                                                            "label": "(Y)"
                                                                        },
                                                                        {
                                                                            "name": "25",
                                                                            "type": "text",
                                                                            "label": "(Z)"
                                                                        }
                                                                    ],
                                                                    "type": "collection",
                                                                    "label": "Values in columns",
                                                                    "metadata": [
                                                                        [
                                                                            [
                                                                                "Name",
                                                                                "Phone",
                                                                                "Business Type",
                                                                                "Website",
                                                                                "Lead Source",
                                                                                "Score",
                                                                                "Status",
                                                                                "AI Message",
                                                                                "Sent Time",
                                                                                "Error Log"
                                                                            ]
                                                                        ]
                                                                    ]
                                                                }
                                                            ],
                                                            "label": "No"
                                                        }
                                                    }
                                                },
                                                "parameters": [
                                                    {
                                                        "name": "__IMTCONN__",
                                                        "type": "account:google",
                                                        "label": "Connection",
                                                        "required": true
                                                    }
                                                ],
                                                "expect": [
                                                    {
                                                        "name": "mode",
                                                        "type": "select",
                                                        "label": "Search Method",
                                                        "required": true,
                                                        "validate": {
                                                            "enum": [
                                                                "select",
                                                                "fromAll",
                                                                "map"
                                                            ]
                                                        }
                                                    },
                                                    {
                                                        "name": "valueInputOption",
                                                        "type": "select",
                                                        "label": "Value input option",
                                                        "validate": {
                                                            "enum": [
                                                                "USER_ENTERED",
                                                                "RAW"
                                                            ]
                                                        }
                                                    },
                                                    {
                                                        "name": "from",
                                                        "type": "select",
                                                        "label": "Drive",
                                                        "required": true,
                                                        "validate": {
                                                            "enum": [
                                                                "drive",
                                                                "share",
                                                                "team"
                                                            ]
                                                        }
                                                    },
                                                    {
                                                        "name": "spreadsheetId",
                                                        "type": "file",
                                                        "label": "Spreadsheet Name",
                                                        "required": true
                                                    },
                                                    {
                                                        "name": "sheetId",
                                                        "type": "select",
                                                        "label": "Sheet Name",
                                                        "required": true
                                                    },
                                                    {
                                                        "name": "rowNumber",
                                                        "type": "uinteger",
                                                        "label": "Row number",
                                                        "required": true
                                                    },
                                                    {
                                                        "name": "includesHeaders",
                                                        "type": "select",
                                                        "label": "Table contains headers",
                                                        "required": true,
                                                        "validate": {
                                                            "enum": [
                                                                true,
                                                                false
                                                            ]
                                                        }
                                                    },
                                                    {
                                                        "name": "useColumnHeaders",
                                                        "type": "select",
                                                        "label": "Use column headers as IDs of the columns",
                                                        "required": true,
                                                        "validate": {
                                                            "enum": [
                                                                true,
                                                                false
                                                            ]
                                                        }
                                                    },
                                                    {
                                                        "name": "values",
                                                        "type": "collection",
                                                        "label": "Values in columns",
                                                        "metadata": [
                                                            [
                                                                [
                                                                    "Name",
                                                                    "Phone",
                                                                    "Business Type",
                                                                    "Website",
                                                                    "Lead Source",
                                                                    "Score",
                                                                    "Status",
                                                                    "AI Message",
                                                                    "Sent Time",
                                                                    "Error Log"
                                                                ]
                                                            ]
                                                        ],
                                                        "spec": [
                                                            {
                                                                "name": "0",
                                                                "type": "text",
                                                                "label": "Name (A)"
                                                            },
                                                            {
                                                                "name": "1",
                                                                "type": "text",
                                                                "label": "Phone (B)"
                                                            },
                                                            {
                                                                "name": "2",
                                                                "type": "text",
                                                                "label": "Business Type (C)"
                                                            },
                                                            {
                                                                "name": "3",
                                                                "type": "text",
                                                                "label": "Website (D)"
                                                            },
                                                            {
                                                                "name": "4",
                                                                "type": "text",
                                                                "label": "Lead Source (E)"
                                                            },
                                                            {
                                                                "name": "5",
                                                                "type": "text",
                                                                "label": "Score (F)"
                                                            },
                                                            {
                                                                "name": "6",
                                                                "type": "text",
                                                                "label": "Status (G)"
                                                            },
                                                            {
                                                                "name": "7",
                                                                "type": "text",
                                                                "label": "AI Message (H)"
                                                            },
                                                            {
                                                                "name": "8",
                                                                "type": "text",
                                                                "label": "Sent Time (I)"
                                                            },
                                                            {
                                                                "name": "9",
                                                                "type": "text",
                                                                "label": "Error Log (J)"
                                                            },
                                                            {
                                                                "name": "10",
                                                                "type": "text",
                                                                "label": "(K)"
                                                            },
                                                            {
                                                                "name": "11",
                                                                "type": "text",
                                                                "label": "(L)"
                                                            },
                                                            {
                                                                "name": "12",
                                                                "type": "text",
                                                                "label": "(M)"
                                                            },
                                                            {
                                                                "name": "13",
                                                                "type": "text",
                                                                "label": "(N)"
                                                            },
                                                            {
                                                                "name": "14",
                                                                "type": "text",
                                                                "label": "(O)"
                                                            },
                                                            {
                                                                "name": "15",
                                                                "type": "text",
                                                                "label": "(P)"
                                                            },
                                                            {
                                                                "name": "16",
                                                                "type": "text",
                                                                "label": "(Q)"
                                                            },
                                                            {
                                                                "name": "17",
                                                                "type": "text",
                                                                "label": "(R)"
                                                            },
                                                            {
                                                                "name": "18",
                                                                "type": "text",
                                                                "label": "(S)"
                                                            },
                                                            {
                                                                "name": "19",
                                                                "type": "text",
                                                                "label": "(T)"
                                                            },
                                                            {
                                                                "name": "20",
                                                                "type": "text",
                                                                "label": "(U)"
                                                            },
                                                            {
                                                                "name": "21",
                                                                "type": "text",
                                                                "label": "(V)"
                                                            },
                                                            {
                                                                "name": "22",
                                                                "type": "text",
                                                                "label": "(W)"
                                                            },
                                                            {
                                                                "name": "23",
                                                                "type": "text",
                                                                "label": "(X)"
                                                            },
                                                            {
                                                                "name": "24",
                                                                "type": "text",
                                                                "label": "(Y)"
                                                            },
                                                            {
                                                                "name": "25",
                                                                "type": "text",
                                                                "label": "(Z)"
                                                            }
                                                        ]
                                                    }
                                                ]
                                            }
                                        }
                                    ]
                                }
                            ]
                        }
                    ]
                },
                {
                    "flow": [
                        {
                            "id": 17,
                            "module": "google-sheets:updateRow",
                            "version": 2,
                            "parameters": {
                                "__IMTCONN__": 7198635
                            },
                            "filter": {
                                "name": "Processed Phone empty",
                                "conditions": [
                                    [
                                        {
                                            "a": "{{13.ProcessedPhoneNo}}",
                                            "o": "notexist"
                                        }
                                    ]
                                ]
                            },
                            "mapper": {
                                "mode": "select",
                                "valueInputOption": "USER_ENTERED",
                                "from": "drive",
                                "spreadsheetId": "/1vJcmpm_OqhDe6sEL8lT-uCST5_fYmch_V0TbK8aX4aw",
                                "sheetId": "Lead_Generation_DB",
                                "rowNumber": "{{1.`__ROW_NUMBER__`}}",
                                "includesHeaders": true,
                                "useColumnHeaders": false,
                                "values": {
                                    "5": "0",
                                    "6": "FAILED",
                                    "9": "INVALID PHONE NUMBER"
                                }
                            },
                            "metadata": {
                                "designer": {
                                    "x": 1500,
                                    "y": 600,
                                    "name": "Invalid Phone No"
                                },
                                "restore": {
                                    "parameters": {
                                        "__IMTCONN__": {
                                            "label": "AILeadGen_Google (shwetusandu23@gmail.com)",
                                            "data": {
                                                "scoped": "true",
                                                "connection": "google"
                                            }
                                        }
                                    },
                                    "expect": {
                                        "mode": {
                                            "label": "Search by path"
                                        },
                                        "valueInputOption": {
                                            "mode": "chose",
                                            "label": "User entered"
                                        },
                                        "from": {
                                            "label": "My Drive"
                                        },
                                        "spreadsheetId": {
                                            "path": [
                                                "Lead Generation Automation"
                                            ]
                                        },
                                        "sheetId": {
                                            "label": "Lead_Generation_DB"
                                        },
                                        "includesHeaders": {
                                            "label": "Yes"
                                        },
                                        "useColumnHeaders": {
                                            "nested": [
                                                {
                                                    "name": "values",
                                                    "spec": [
                                                        {
                                                            "name": "0",
                                                            "type": "text",
                                                            "label": "Name (A)"
                                                        },
                                                        {
                                                            "name": "1",
                                                            "type": "text",
                                                            "label": "Phone (B)"
                                                        },
                                                        {
                                                            "name": "2",
                                                            "type": "text",
                                                            "label": "Business Type (C)"
                                                        },
                                                        {
                                                            "name": "3",
                                                            "type": "text",
                                                            "label": "Website (D)"
                                                        },
                                                        {
                                                            "name": "4",
                                                            "type": "text",
                                                            "label": "Lead Source (E)"
                                                        },
                                                        {
                                                            "name": "5",
                                                            "type": "text",
                                                            "label": "Score (F)"
                                                        },
                                                        {
                                                            "name": "6",
                                                            "type": "text",
                                                            "label": "Status (G)"
                                                        },
                                                        {
                                                            "name": "7",
                                                            "type": "text",
                                                            "label": "AI Message (H)"
                                                        },
                                                        {
                                                            "name": "8",
                                                            "type": "text",
                                                            "label": "Sent Time (I)"
                                                        },
                                                        {
                                                            "name": "9",
                                                            "type": "text",
                                                            "label": "Error Log (J)"
                                                        },
                                                        {
                                                            "name": "10",
                                                            "type": "text",
                                                            "label": "(K)"
                                                        },
                                                        {
                                                            "name": "11",
                                                            "type": "text",
                                                            "label": "(L)"
                                                        },
                                                        {
                                                            "name": "12",
                                                            "type": "text",
                                                            "label": "(M)"
                                                        },
                                                        {
                                                            "name": "13",
                                                            "type": "text",
                                                            "label": "(N)"
                                                        },
                                                        {
                                                            "name": "14",
                                                            "type": "text",
                                                            "label": "(O)"
                                                        },
                                                        {
                                                            "name": "15",
                                                            "type": "text",
                                                            "label": "(P)"
                                                        },
                                                        {
                                                            "name": "16",
                                                            "type": "text",
                                                            "label": "(Q)"
                                                        },
                                                        {
                                                            "name": "17",
                                                            "type": "text",
                                                            "label": "(R)"
                                                        },
                                                        {
                                                            "name": "18",
                                                            "type": "text",
                                                            "label": "(S)"
                                                        },
                                                        {
                                                            "name": "19",
                                                            "type": "text",
                                                            "label": "(T)"
                                                        },
                                                        {
                                                            "name": "20",
                                                            "type": "text",
                                                            "label": "(U)"
                                                        },
                                                        {
                                                            "name": "21",
                                                            "type": "text",
                                                            "label": "(V)"
                                                        },
                                                        {
                                                            "name": "22",
                                                            "type": "text",
                                                            "label": "(W)"
                                                        },
                                                        {
                                                            "name": "23",
                                                            "type": "text",
                                                            "label": "(X)"
                                                        },
                                                        {
                                                            "name": "24",
                                                            "type": "text",
                                                            "label": "(Y)"
                                                        },
                                                        {
                                                            "name": "25",
                                                            "type": "text",
                                                            "label": "(Z)"
                                                        }
                                                    ],
                                                    "type": "collection",
                                                    "label": "Values in columns",
                                                    "metadata": [
                                                        [
                                                            [
                                                                "Name",
                                                                "Phone",
                                                                "Business Type",
                                                                "Website",
                                                                "Lead Source",
                                                                "Score",
                                                                "Status",
                                                                "AI Message",
                                                                "Sent Time",
                                                                "Error Log"
                                                            ]
                                                        ]
                                                    ]
                                                }
                                            ],
                                            "label": "No"
                                        }
                                    }
                                },
                                "parameters": [
                                    {
                                        "name": "__IMTCONN__",
                                        "type": "account:google",
                                        "label": "Connection",
                                        "required": true
                                    }
                                ],
                                "expect": [
                                    {
                                        "name": "mode",
                                        "type": "select",
                                        "label": "Search Method",
                                        "required": true,
                                        "validate": {
                                            "enum": [
                                                "select",
                                                "fromAll",
                                                "map"
                                            ]
                                        }
                                    },
                                    {
                                        "name": "valueInputOption",
                                        "type": "select",
                                        "label": "Value input option",
                                        "validate": {
                                            "enum": [
                                                "USER_ENTERED",
                                                "RAW"
                                            ]
                                        }
                                    },
                                    {
                                        "name": "from",
                                        "type": "select",
                                        "label": "Drive",
                                        "required": true,
                                        "validate": {
                                            "enum": [
                                                "drive",
                                                "share",
                                                "team"
                                            ]
                                        }
                                    },
                                    {
                                        "name": "spreadsheetId",
                                        "type": "file",
                                        "label": "Spreadsheet Name",
                                        "required": true
                                    },
                                    {
                                        "name": "sheetId",
                                        "type": "select",
                                        "label": "Sheet Name",
                                        "required": true
                                    },
                                    {
                                        "name": "rowNumber",
                                        "type": "uinteger",
                                        "label": "Row number",
                                        "required": true
                                    },
                                    {
                                        "name": "includesHeaders",
                                        "type": "select",
                                        "label": "Table contains headers",
                                        "required": true,
                                        "validate": {
                                            "enum": [
                                                true,
                                                false
                                            ]
                                        }
                                    },
                                    {
                                        "name": "useColumnHeaders",
                                        "type": "select",
                                        "label": "Use column headers as IDs of the columns",
                                        "required": true,
                                        "validate": {
                                            "enum": [
                                                true,
                                                false
                                            ]
                                        }
                                    },
                                    {
                                        "name": "values",
                                        "type": "collection",
                                        "label": "Values in columns",
                                        "metadata": [
                                            [
                                                [
                                                    "Name",
                                                    "Phone",
                                                    "Business Type",
                                                    "Website",
                                                    "Lead Source",
                                                    "Score",
                                                    "Status",
                                                    "AI Message",
                                                    "Sent Time",
                                                    "Error Log"
                                                ]
                                            ]
                                        ],
                                        "spec": [
                                            {
                                                "name": "0",
                                                "type": "text",
                                                "label": "Name (A)"
                                            },
                                            {
                                                "name": "1",
                                                "type": "text",
                                                "label": "Phone (B)"
                                            },
                                            {
                                                "name": "2",
                                                "type": "text",
                                                "label": "Business Type (C)"
                                            },
                                            {
                                                "name": "3",
                                                "type": "text",
                                                "label": "Website (D)"
                                            },
                                            {
                                                "name": "4",
                                                "type": "text",
                                                "label": "Lead Source (E)"
                                            },
                                            {
                                                "name": "5",
                                                "type": "text",
                                                "label": "Score (F)"
                                            },
                                            {
                                                "name": "6",
                                                "type": "text",
                                                "label": "Status (G)"
                                            },
                                            {
                                                "name": "7",
                                                "type": "text",
                                                "label": "AI Message (H)"
                                            },
                                            {
                                                "name": "8",
                                                "type": "text",
                                                "label": "Sent Time (I)"
                                            },
                                            {
                                                "name": "9",
                                                "type": "text",
                                                "label": "Error Log (J)"
                                            },
                                            {
                                                "name": "10",
                                                "type": "text",
                                                "label": "(K)"
                                            },
                                            {
                                                "name": "11",
                                                "type": "text",
                                                "label": "(L)"
                                            },
                                            {
                                                "name": "12",
                                                "type": "text",
                                                "label": "(M)"
                                            },
                                            {
                                                "name": "13",
                                                "type": "text",
                                                "label": "(N)"
                                            },
                                            {
                                                "name": "14",
                                                "type": "text",
                                                "label": "(O)"
                                            },
                                            {
                                                "name": "15",
                                                "type": "text",
                                                "label": "(P)"
                                            },
                                            {
                                                "name": "16",
                                                "type": "text",
                                                "label": "(Q)"
                                            },
                                            {
                                                "name": "17",
                                                "type": "text",
                                                "label": "(R)"
                                            },
                                            {
                                                "name": "18",
                                                "type": "text",
                                                "label": "(S)"
                                            },
                                            {
                                                "name": "19",
                                                "type": "text",
                                                "label": "(T)"
                                            },
                                            {
                                                "name": "20",
                                                "type": "text",
                                                "label": "(U)"
                                            },
                                            {
                                                "name": "21",
                                                "type": "text",
                                                "label": "(V)"
                                            },
                                            {
                                                "name": "22",
                                                "type": "text",
                                                "label": "(W)"
                                            },
                                            {
                                                "name": "23",
                                                "type": "text",
                                                "label": "(X)"
                                            },
                                            {
                                                "name": "24",
                                                "type": "text",
                                                "label": "(Y)"
                                            },
                                            {
                                                "name": "25",
                                                "type": "text",
                                                "label": "(Z)"
                                            }
                                        ]
                                    }
                                ]
                            }
                        }
                    ]
                }
            ]
        }
    ],
    "metadata": {
        "instant": false,
        "version": 1,
        "scenario": {
            "roundtrips": 1,
            "maxErrors": 3,
            "autoCommit": true,
            "autoCommitTriggerLast": true,
            "sequential": false,
            "slots": null,
            "confidential": false,
            "dataloss": false,
            "dlq": false,
            "freshVariables": false
        },
        "designer": {
            "orphans": []
        },
        "zone": "eu1.make.com",
        "notes": []
    }
}